/* line 1, ../../app/stylesheets/grids.scss */
.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 2, ../../app/stylesheets/grids.scss */
.line {
  *zoom: 1;
}

/* line 3, ../../app/stylesheets/grids.scss */
.unit {
  float: left;
}

/* line 4, ../../app/stylesheets/grids.scss */
.size1of1 {
  float: none;
}

/* line 5, ../../app/stylesheets/grids.scss */
.size1of2 {
  width: 50%;
}

/* line 6, ../../app/stylesheets/grids.scss */
.size1of3 {
  width: 33.33333%;
}

/* line 7, ../../app/stylesheets/grids.scss */
.size2of3 {
  width: 66.66666%;
}

/* line 8, ../../app/stylesheets/grids.scss */
.size1of4 {
  width: 25%;
}

/* line 9, ../../app/stylesheets/grids.scss */
.size3of4 {
  width: 75%;
}

/* line 10, ../../app/stylesheets/grids.scss */
.size1of5 {
  width: 20%;
}

/* line 11, ../../app/stylesheets/grids.scss */
.size2of5 {
  width: 40%;
}

/* line 12, ../../app/stylesheets/grids.scss */
.size3of5 {
  width: 60%;
}

/* line 13, ../../app/stylesheets/grids.scss */
.size4of5 {
  width: 80%;
}

/* line 14, ../../app/stylesheets/grids.scss */
.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}
