/* Styles --------------------------------------------------------------*/
/* line 1, ../../app/stylesheets/home/_styles.scss */
html, body, ul, ol, li, form, h1, h2, h3, h4, h5, h6, blockquote, dl, dd, img {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 6, ../../app/stylesheets/home/_styles.scss */
dd, blockquote {
  margin-left: 1em;
}

/* line 9, ../../app/stylesheets/home/_styles.scss */
fieldset {
  border: none;
}

/* line 12, ../../app/stylesheets/home/_styles.scss */
input, select, textarea {
  font-size: 100%;
  font-family: inherit;
}

/* main styles */
@font-face {
  font-family: "/fonts/Diavlo Light";
  src: url(/fonts/Diavlo_LIGHT_II_37.eot);
  /* Hello, IE */
  src: local("/fonts/Diavlo Light"), url(/fonts/Diavlo_LIGHT_II_37.otf) format("opentype");
}

@font-face {
  font-family: "/fonts/Diavlo Bold";
  src: url(/fonts/Diavlo_BOLD_II_37.eot);
  /* Hello, IE */
  src: local("/fonts/Diavlo Bold"), url(/fonts/Diavlo_BOLD_II_37.otf) format("opentype");
}

/* line 31, ../../app/stylesheets/home/_styles.scss */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, ../../app/stylesheets/home/_styles.scss */
.alignleft {
  float: left;
}

/* line 39, ../../app/stylesheets/home/_styles.scss */
.alignright {
  float: right;
}

/* line 43, ../../app/stylesheets/home/_styles.scss */
img.alignleft {
  margin: 3px 20px 10px 0;
}
/* line 45, ../../app/stylesheets/home/_styles.scss */
img.alignright {
  margin: 3px 0 10px 20px;
}

/* line 48, ../../app/stylesheets/home/_styles.scss */
.text-right {
  text-align: right;
}

/* line 51, ../../app/stylesheets/home/_styles.scss */
.text-left {
  text-align: left;
}

/* line 54, ../../app/stylesheets/home/_styles.scss */
.text-center {
  text-align: center;
}

/* line 57, ../../app/stylesheets/home/_styles.scss */
.clear {
  clear: both;
}

/* line 60, ../../app/stylesheets/home/_styles.scss */
a {
  text-decoration: none;
  color: #636363;
}
/* line 63, ../../app/stylesheets/home/_styles.scss */
a:hover {
  color: #c99150;
}

/* line 66, ../../app/stylesheets/home/_styles.scss */
hr {
  height: 1px;
  color: #dfdfdf;
  background: #dfdfdf;
  padding: 0;
  margin: 15px 0;
  border: none;
}

/* line 74, ../../app/stylesheets/home/_styles.scss */
h1, h2, h3, h4, h5 {
  font-family: Diavlo Light, Arial,Helvetica,Sans-serif;
  font-weight: normal;
  color: #000;
}

/* line 79, ../../app/stylesheets/home/_styles.scss */
h2, h3 {
  font-size: 30px;
  line-height: 1em;
}

/* line 83, ../../app/stylesheets/home/_styles.scss */
h4 {
  font-size: 26px;
}

/* line 86, ../../app/stylesheets/home/_styles.scss */
h5 {
  font-size: 22px;
}

/* body */
/* line 91, ../../app/stylesheets/home/_styles.scss */
body {
  font: 12px Arial,Helvetica,Sans-serif;
  line-height: 1.2;
  color: #555555;
  background: url(/images/home/images/body_white.gif);
}

/* line 97, ../../app/stylesheets/home/_styles.scss */
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 102, ../../app/stylesheets/home/_styles.scss */
.bodywrap {
  height: 100%;
  background: url(/images/home/images/topbg_black.gif) top repeat-x;
}

/* line 106, ../../app/stylesheets/home/_styles.scss */
.noheader {
  background: url(/images/home/images/topbg2_black.gif) top repeat-x;
}
/* line 108, ../../app/stylesheets/home/_styles.scss */
.noheader .header {
  height: 196px;
}

/* line 111, ../../app/stylesheets/home/_styles.scss */
.homepage {
  background: url(/images/home/images/topbg_home_black.gif) top repeat-x;
}
/* line 113, ../../app/stylesheets/home/_styles.scss */
.homepage .header {
  height: auto;
}

/* header */
/* line 118, ../../app/stylesheets/home/_styles.scss */
.header {
  height: 279px;
}

/* line 121, ../../app/stylesheets/home/_styles.scss */
.logo {
  width: 320px;
  height: 100px;
  padding: 30px 0 0 100px;
  float: left;
  background: url(/images/home/images/logo_black.gif) left center no-repeat;
  color: #242424;
}

/* line 130, ../../app/stylesheets/home/_styles.scss */
.logo-text strong {
  font: 60px Diavlo Light,Arial,Helvetica,Sans-serif;
  display: block;
  line-height: 50px;
}
/* line 134, ../../app/stylesheets/home/_styles.scss */
.logo-text a {
  color: #000;
}
/* line 136, ../../app/stylesheets/home/_styles.scss */
.logo-text span {
  font: 17px Diavlo Light,Arial,Helvetica,Sans-serif;
}

/* slider */
/* line 141, ../../app/stylesheets/home/_styles.scss */
.slider {
  clear: both;
  overflow: hidden;
  width: 960px;
  height: 340px;
  padding-bottom: 44px;
  background: url(/images/home/images/slider_bg_bot.jpg) bottom center no-repeat white;
}
/* line 148, ../../app/stylesheets/home/_styles.scss */
.slider p {
  margin: 0;
}

/* line 151, ../../app/stylesheets/home/_styles.scss */
.noslider {
  background: url(/images/home/images/topbg2_black.gif) top repeat-x;
}

/* line 154, ../../app/stylesheets/home/_styles.scss */
.homepage .layouts {
  padding-top: 47px;
}

/* line 157, ../../app/stylesheets/home/_styles.scss */
.noslider .intro-box {
  background: #fff;
}

/* line 160, ../../app/stylesheets/home/_styles.scss */
.text-medium {
  font: 22px Diavlo Light,Arial,Helvetica,Sans-serif;
  color: #181818;
  line-height: 1.2em;
}
/* line 164, ../../app/stylesheets/home/_styles.scss */
.text-medium p {
  padding: 2px 0;
}

/* line 167, ../../app/stylesheets/home/_styles.scss */
.intro-box {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin: 0 0 40px 0;
}

/* line 172, ../../app/stylesheets/home/_styles.scss */
.homepage .layout4 {
  margin: 0;
}

/* line 175, ../../app/stylesheets/home/_styles.scss */
.boxbg {
  background: url(/images/home/images/bg_home_cols_black.gif) left bottom no-repeat;
  min-height: 322px;
  color: #737373;
}
/* line 179, ../../app/stylesheets/home/_styles.scss */
.boxbg .text {
  background: url(/images/home/images/bg_home_cols_black.gif) left top no-repeat;
  padding: 25px 20px 0px 20px;
  min-height: 235px;
}
/* line 183, ../../app/stylesheets/home/_styles.scss */
.boxbg:hover {
  background: url(/images/home/images/bg_home_cols_black.gif) right bottom no-repeat;
  color: #000;
}

/* line 187, ../../app/stylesheets/home/_styles.scss */
.layouts .boxbg h2 {
  background: none;
  margin: 0;
  font-size: 23px;
  color: #000;
}

/* line 193, ../../app/stylesheets/home/_styles.scss */
.boxbg a.link-more {
  color: #333;
}
/* line 195, ../../app/stylesheets/home/_styles.scss */
.boxbg a.link-more:hover {
  color: #000;
  border: none;
}

/* line 199, ../../app/stylesheets/home/_styles.scss */
.ico-brand, .ico-colors, .ico-jquery, .ico-web {
  width: 160px;
  height: 40px;
  margin: 0 auto 23px auto;
}

/* line 204, ../../app/stylesheets/home/_styles.scss */
.ico-brand {
  background: url(/images/home/images/icons-brand.gif) left top no-repeat;
}

/* line 207, ../../app/stylesheets/home/_styles.scss */
.ico-colors {
  background: url(/images/home/images/icons-colors.gif) left top no-repeat;
}

/* line 210, ../../app/stylesheets/home/_styles.scss */
.ico-jquery {
  background: url(/images/home/images/icons-jquery.gif) left top no-repeat;
}

/* line 213, ../../app/stylesheets/home/_styles.scss */
.ico-web {
  background: url(/images/home/images/icons-browsers.gif) left top no-repeat;
}

/* line 217, ../../app/stylesheets/home/_styles.scss */
.boxbg:hover .ico-brand, .boxbg:hover .ico-colors, .boxbg:hover .ico-jquery, .boxbg:hover .ico-web {
  background-position: left bottom;
}

/* line 220, ../../app/stylesheets/home/_styles.scss */
a.btn-start {
  background: url(/images/home/images/btn-start-black.gif) no-repeat;
  padding-left: 16px;
  width: 183px;
  height: 54px;
  color: #fff;
  font-size: 18px;
  line-height: 54px;
  display: block;
  margin: 25px auto 10px;
}
/* line 230, ../../app/stylesheets/home/_styles.scss */
a.btn-start:hover {
  color: #fff;
}

/* topmeenu, dropdown */
/* line 235, ../../app/stylesheets/home/_styles.scss */
.top-menu {
  width: 540px;
  height: 134px;
  float: left;
  font: 17px Diavlo Light,Arial,Helvetica,Sans-serif;
}

/* line 241, ../../app/stylesheets/home/_styles.scss */
ul.dropdown {
  position: relative;
  z-index: 7;
  float: right;
  padding-top: 64px;
}
/* line 246, ../../app/stylesheets/home/_styles.scss */
ul.dropdown li {
  display: block;
  float: left;
  line-height: 1.3em;
  vertical-align: middle;
  /*zoom: 1;*/
}
/* line 252, ../../app/stylesheets/home/_styles.scss */
ul.dropdown li.hover, ul.dropdown li:hover {
  position: relative;
  z-index: 9;
  cursor: default;
}
/* line 256, ../../app/stylesheets/home/_styles.scss */
ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 8px;
  z-index: 8;
  width: 143px;
  font: 12px Arial,Helvetica,Sans-serif;
  font-weight: bold;
  background: url(/images/home/images/topmenu_sub_2.gif) left bottom no-repeat;
}
/* line 266, ../../app/stylesheets/home/_styles.scss */
ul.dropdown ul li {
  float: none;
}
/* line 268, ../../app/stylesheets/home/_styles.scss */
ul.dropdown ul ul {
  top: 1px;
  left: 99%;
}
/* line 271, ../../app/stylesheets/home/_styles.scss */
ul.dropdown li:hover > ul {
  visibility: visible;
}
/* line 273, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item {
  display: block;
  float: left;
}
/* line 276, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item a {
  float: left;
  display: block;
  height: 70px;
  padding: 0 10px;
  color: #666;
  text-decoration: none;
}
/* line 283, ../../app/stylesheets/home/_styles.scss */
ul.dropdown li.active a {
  color: #000;
  background: url(/images/home/images/topmenu_bg_bot_black.gif) center bottom no-repeat;
}
/* line 287, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item a:hover {
  color: #000;
}
/* line 290, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul li {
  border-bottom: 1px solid #e5e5e5;
}
/* line 292, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul a {
  display: block;
  float: none;
  padding: 5px 5px 5px 15px;
  height: auto;
  background: none;
  color: #666;
}
/* line 299, ../../app/stylesheets/home/_styles.scss */
ul.dropdown li.active ul a {
  display: block;
  float: none;
  padding: 5px 5px 5px 15px;
  height: auto;
  background: none;
  color: #666;
}
/* line 307, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul a:hover {
  background: url(/images/home/images/topmenu_sub_bg.gif) repeat-y #f1f1f1;
  color: #000;
}
/* line 310, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul .last {
  border-bottom: none;
}
/* line 312, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul .last a {
  padding: 5px 5px 10px 15px;
}
/* line 314, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul .last a:hover {
  background: url(/images/home/images/topmenu_sub_last_a.gif) left bottom no-repeat;
}
/* line 316, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul .first a {
  background: url(/images/home/images/topmenu_sub_1.gif) left top no-repeat;
  padding: 20px 5px 5px 15px;
}
/* line 319, ../../app/stylesheets/home/_styles.scss */
ul.dropdown .root-item ul .first a:hover {
  background: url(/images/home/images/topmenu_sub_1.gif) left top no-repeat;
}

/* top text and icon */
/* line 324, ../../app/stylesheets/home/_styles.scss */
.top-text {
  clear: both;
  height: 145px;
  width: 780px;
  float: left;
  color: #e9e9e9;
}
/* line 330, ../../app/stylesheets/home/_styles.scss */
.top-text p {
  margin: 0;
  padding: 15px 0;
  height: 44px;
  display: block;
  width: 780px;
  overflow: hidden;
  font: 22px Diavlo Light,Arial,Helvetica,Sans-serif;
}

/* line 339, ../../app/stylesheets/home/_styles.scss */
.top-icon {
  background: url(/images/home/images/icon-blog.png) bottom no-repeat;
  width: 126px;
  height: 127px;
  margin-top: 18px;
  float: left;
  position: relative;
}

/* line 347, ../../app/stylesheets/home/_styles.scss */
.icon-pages {
  background: url(/images/home/images/icon-text.png) bottom no-repeat;
}

/* line 350, ../../app/stylesheets/home/_styles.scss */
.icon-gallery {
  background: url(/images/home/images/icon-gallery.png) bottom no-repeat;
}

/* line 353, ../../app/stylesheets/home/_styles.scss */
.icon-contact {
  background: url(/images/home/images/icon-contact.png) bottom no-repeat;
}

/* gallery list */
/* line 358, ../../app/stylesheets/home/_styles.scss */
.gallery {
  position: relative;
}
/* line 360, ../../app/stylesheets/home/_styles.scss */
.gallery ul {
  padding: 20px 0;
}

/* line 363, ../../app/stylesheets/home/_styles.scss */
.post-entry .gallery ul {
  padding: 20px 0;
}

/* line 366, ../../app/stylesheets/home/_styles.scss */
.gallery li {
  float: left;
  list-style: none;
  margin: 11px;
  width: 330px;
  height: 237px;
  background: url(/images/home/images/gallery_bg_item.gif) no-repeat;
}

/* line 374, ../../app/stylesheets/home/_styles.scss */
.post-entry .gallery li {
  float: left;
  list-style: none;
  margin: 11px;
  width: 330px;
  height: 237px;
  background: url(/images/home/images/gallery_bg_item.gif) no-repeat;
}
/* line 381, ../../app/stylesheets/home/_styles.scss */
.post-entry .gallery li img {
  border: 0;
  padding: 0;
  width: 320px;
  height: 224px;
  padding: 5px;
}
/* line 387, ../../app/stylesheets/home/_styles.scss */
.post-entry .gallery li:hover img {
  background: #a8a8a8;
}

/* 2 columns layout, right sidebar */
/* line 392, ../../app/stylesheets/home/_styles.scss */
.middle {
  background: url(/images/home/images/middle_bg.gif) top right repeat-y;
  float: left;
  width: 100%;
}

/* line 397, ../../app/stylesheets/home/_styles.scss */
.wrapper {
  width: 960px;
  float: left;
}

/* line 401, ../../app/stylesheets/home/_styles.scss */
.content {
  margin: 0 227px 0 0;
}

/* line 404, ../../app/stylesheets/home/_styles.scss */
.navigation, .bottom-right {
  width: 227px;
  float: left;
  margin-left: -227px;
  padding-top: 10px;
}

/* line 410, ../../app/stylesheets/home/_styles.scss */
.middle .navigation {
  background: url(/images/home/images/navigation_bg_top.gif) left top no-repeat;
}

/* line 413, ../../app/stylesheets/home/_styles.scss */
.navigation, .content {
  min-height: 200px;
}

/* line 416, ../../app/stylesheets/home/_styles.scss */
.middle-bot {
  background: url(/images/home/images/middle_footer_bg.gif) top right no-repeat;
  height: 76px;
  width: 960px;
}

/* pagination */
/* line 423, ../../app/stylesheets/home/_styles.scss */
.pagination {
  background: url(/images/home/images/pages_line.gif) 0 0 no-repeat;
  font: 15px Diavlo Light, Arial, Helvetica, sans-serif;
  color: #9a9a9a;
  width: 708px;
  padding: 25px 25px 0 0;
  text-align: center;
}
/* line 430, ../../app/stylesheets/home/_styles.scss */
.pagination a {
  text-decoration: none;
  color: #9a9a9a;
  margin: 0 2px;
}
/* line 434, ../../app/stylesheets/home/_styles.scss */
.pagination a:hover {
  color: #222;
}
/* line 436, ../../app/stylesheets/home/_styles.scss */
.pagination .active {
  color: #222;
}
/* line 438, ../../app/stylesheets/home/_styles.scss */
.pagination .prev, .pagination .next {
  font-size: 18px;
  width: 100px;
}
/* line 441, ../../app/stylesheets/home/_styles.scss */
.pagination .prev {
  float: left;
}
/* line 443, ../../app/stylesheets/home/_styles.scss */
.pagination .next {
  float: right;
}

/* sidebar styles */
/* line 449, ../../app/stylesheets/home/_styles.scss */
.navigation h3 {
  font: 26px Diavlo Light, Arial, Helvetica, sans-serif;
  color: #000;
  background: url(/images/home/images/title_line_right.gif) left 26px no-repeat;
  padding-left: 30px;
  margin: 10px 0;
}
/* line 455, ../../app/stylesheets/home/_styles.scss */
.navigation a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
/* line 459, ../../app/stylesheets/home/_styles.scss */
.navigation a:hover {
  color: #be7826;
}

/* line 462, ../../app/stylesheets/home/_styles.scss */
.widget {
  margin-bottom: 25px;
}
/* line 464, ../../app/stylesheets/home/_styles.scss */
.widget li {
  padding: 5px 0 0 30px;
  display: block;
  clear: both;
  background: url(/images/home/images/navi_list_line.gif) left bottom no-repeat;
  margin-bottom: 5px;
}

/* line 471, ../../app/stylesheets/home/_styles.scss */
.widget_popular li {
  height: 58px;
}
/* line 473, ../../app/stylesheets/home/_styles.scss */
.widget_popular li span {
  color: #a9a9a9;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding-top: 1px;
}

/* line 480, ../../app/stylesheets/home/_styles.scss */
.widget_pages {
  font-family: Diavlo Light, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
/* line 485, ../../app/stylesheets/home/_styles.scss */
.widget_pages li a {
  color: #979797;
}
/* line 487, ../../app/stylesheets/home/_styles.scss */
.widget_pages li.active {
  background: url(/images/home/images/navi_list_active.gif) left top no-repeat white;
  border-bottom: 1px solid #e6e6e6;
}
/* line 490, ../../app/stylesheets/home/_styles.scss */
.widget_pages li.active a {
  color: #000;
}

/* line 493, ../../app/stylesheets/home/_styles.scss */
.thumb-small {
  background: url(/images/home/images/thumb_bg.gif) no-repeat;
  width: 51px;
  height: 48px;
  float: left;
  overflow: hidden;
  padding: 4px 0 0 4px;
  margin-right: 8px;
}

/* line 502, ../../app/stylesheets/home/_styles.scss */
.widget_popular li:hover .thumb-small {
  background: url(/images/home/images/thumb_bg2.gif) no-repeat;
}

/* line 505, ../../app/stylesheets/home/_styles.scss */
.navigation .space {
  padding-left: 30px;
}

/* line 508, ../../app/stylesheets/home/_styles.scss */
#tagcloud {
  padding: 10px 0 5px 30px;
  line-height: 1.8em;
}
/* line 511, ../../app/stylesheets/home/_styles.scss */
#tagcloud a {
  margin: 0 3px;
}

/* post styles */
/* line 516, ../../app/stylesheets/home/_styles.scss */
.post-title {
  padding: 0 25px 0 0;
  background: url(/images/home/images/title_line_long.gif) 0 bottom no-repeat;
  font-family: Diavlo Light, Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

/* line 522, ../../app/stylesheets/home/_styles.scss */
.post-meta, .post-entry, .post-thumb {
  padding-right: 25px;
}

/* line 526, ../../app/stylesheets/home/_styles.scss */
.post-title h2, .post-title h1 {
  color: #000;
  font-size: 36px;
  font-weight: normal;
  line-height: 28px;
}
/* line 531, ../../app/stylesheets/home/_styles.scss */
.post-title h2 a {
  color: #000;
  text-decoration: none;
}
/* line 534, ../../app/stylesheets/home/_styles.scss */
.post-title h2 a:hover {
  color: #be7826;
}

/* line 537, ../../app/stylesheets/home/_styles.scss */
.post-date {
  color: #c8c8c8;
  font-size: 18px;
  text-transform: lowercase;
  width: 84px;
  float: right;
}
/* line 543, ../../app/stylesheets/home/_styles.scss */
.post-date strong {
  display: block;
  float: left;
  height: 25px;
  width: 40px;
  font-size: 36px;
  line-height: 28px;
  font-weight: 400;
  text-align: right;
}
/* line 552, ../../app/stylesheets/home/_styles.scss */
.post-date span {
  display: block;
  float: left;
  width: 30px;
  line-height: 11px;
  text-align: left;
  padding-left: 8px;
}
/* line 559, ../../app/stylesheets/home/_styles.scss */
.post-date span b {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* line 564, ../../app/stylesheets/home/_styles.scss */
.post-meta {
  color: #bebebe;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  padding-bottom: 15px;
}

/* line 572, ../../app/stylesheets/home/_styles.scss */
.ico-author, .ico-tags, .ico-cat, .ico-comments {
  padding-right: 20px;
  padding-bottom: 1px;
}

/* line 576, ../../app/stylesheets/home/_styles.scss */
.ico-author {
  background: url(/images/home/images/ico-author.gif) right top no-repeat;
}

/* line 579, ../../app/stylesheets/home/_styles.scss */
.ico-tags {
  background: url(/images/home/images/ico-tags.gif) right top no-repeat;
  margin-left: 5px;
}

/* line 583, ../../app/stylesheets/home/_styles.scss */
.ico-cat {
  background: url(/images/home/images/ico-category.gif) right top no-repeat;
  margin-left: 5px;
}

/* line 587, ../../app/stylesheets/home/_styles.scss */
.ico-comments {
  background: url(/images/home/images/ico-comments.gif) right top no-repeat;
  margin: 0 5px;
}

/* line 592, ../../app/stylesheets/home/_styles.scss */
.post-meta a, .post-meta strong {
  color: #8e8e8e;
}
/* line 594, ../../app/stylesheets/home/_styles.scss */
.post-meta a:hover {
  color: #666;
}

/* line 597, ../../app/stylesheets/home/_styles.scss */
.post-thumb .shadow {
  background: url(/images/home/images/post-img-bg.gif) no-repeat;
  width: 706px;
  height: 236px;
  text-align: center;
  vertical-align: bottom;
}
/* line 603, ../../app/stylesheets/home/_styles.scss */
.post-thumb .shadow img {
  margin: 4px auto;
}

/* line 606, ../../app/stylesheets/home/_styles.scss */
.post-entry {
  line-height: 1.7em;
  margin-bottom: 35px;
}
/* line 609, ../../app/stylesheets/home/_styles.scss */
.post-entry img {
  border: 2px solid #a8a8a8;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* line 616, ../../app/stylesheets/home/_styles.scss */
.post-entry img:hover {
  background: #a8a8a8;
}
/* line 618, ../../app/stylesheets/home/_styles.scss */
.post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5 {
  margin: 35px 0 20px 0;
  background: url(/images/home/images/title_line_long.gif) right bottom no-repeat;
}
/* line 621, ../../app/stylesheets/home/_styles.scss */
.post-entry ul, .post-entry ol {
  padding: 10px 0 10px 40px;
}
/* line 623, ../../app/stylesheets/home/_styles.scss */
.post-entry ul li {
  list-style: disc;
  margin-bottom: 7px;
}
/* line 626, ../../app/stylesheets/home/_styles.scss */
.post-entry ol li {
  list-style: decimal;
  margin-bottom: 7px;
}
/* line 629, ../../app/stylesheets/home/_styles.scss */
.post-entry a {
  color: #c99150;
}
/* line 631, ../../app/stylesheets/home/_styles.scss */
.post-entry a:hover {
  text-decoration: underline;
}
/* line 633, ../../app/stylesheets/home/_styles.scss */
.post-entry blockquote {
  background: #f3f5e0;
  border: 1px solid #f7f8f0;
  border-left: 3px solid #d3c8ad;
  padding: 5px 10px 5px 20px;
  margin-bottom: 10px;
}
/* line 639, ../../app/stylesheets/home/_styles.scss */
.post-entry blockquote p {
  margin: 7px 0;
}
/* line 641, ../../app/stylesheets/home/_styles.scss */
.post-entry blockquote blockquote {
  background: #f7f8f0;
}

/* line 644, ../../app/stylesheets/home/_styles.scss */
a.link-more {
  color: #c99150;
}
/* line 646, ../../app/stylesheets/home/_styles.scss */
a.link-more:hover {
  color: #c99150;
  border-bottom: 1px solid #c99150;
  text-decoration: none;
}

/* related list */
/* line 653, ../../app/stylesheets/home/_styles.scss */
.related-list h2, .comments-list h2, .add-comment h2 {
  margin: 15px 0 10px;
  font-size: 36px;
  line-height: 30px;
  background: url(/images/home/images/title_line_long.gif) bottom no-repeat;
}

/* line 659, ../../app/stylesheets/home/_styles.scss */
.related-list ul {
  padding: 10px 0 10px 40px;
}
/* line 661, ../../app/stylesheets/home/_styles.scss */
.related-list ul li {
  list-style: disc;
  margin-bottom: 10px;
  font-weight: bold;
}

/* comments layout */
/* line 668, ../../app/stylesheets/home/_styles.scss */
.comments-list h2 {
  padding-left: 10px;
}

/* line 671, ../../app/stylesheets/home/_styles.scss */
.comment-one, .addcomment-box {
  width: 690px;
  margin: 20px 0 10px 10px;
}

/* line 675, ../../app/stylesheets/home/_styles.scss */
.comment-avatar {
  width: 85px;
  height: 85px;
  background: url(/images/home/images/avatar_bg.gif) no-repeat;
  float: left;
  margin-right: 15px;
}
/* line 681, ../../app/stylesheets/home/_styles.scss */
.comment-avatar img {
  width: 70px;
  height: 70px;
  margin: 7px 0 0 7px;
}

/* line 686, ../../app/stylesheets/home/_styles.scss */
.comment-box {
  width: 590px;
  background: url(/images/home/images/comment_bg_bot.gif) left bottom no-repeat;
  padding-bottom: 9px;
  float: left;
}

/* line 692, ../../app/stylesheets/home/_styles.scss */
.comment-top {
  background: url(/images/home/images/comment_bg_top.gif) left top no-repeat;
  height: 31px;
  padding-left: 33px;
  line-height: 30px;
  font-size: 14px;
}

/* line 699, ../../app/stylesheets/home/_styles.scss */
.comment-text {
  min-height: 45px;
  padding: 0 20px 0 33px;
  margin-left: 16px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  background: #fff;
  color: #505050;
  line-height: 1.4em;
  font-size: 13px;
}

/* line 710, ../../app/stylesheets/home/_styles.scss */
.comment-one p, .add-comment p {
  margin: 0;
  padding: 5px 0;
}

/* line 714, ../../app/stylesheets/home/_styles.scss */
.comment-meta {
  color: #a6a6a6;
  font-size: 11px;
  padding: 10px 0 5px 0;
}

/* line 719, ../../app/stylesheets/home/_styles.scss */
.comment-one blockquote {
  background: #f6f6f6;
  padding: 10px 10px 5px 10px;
  border: 1px solid #dadada;
  border-bottom: none;
  margin: 0 0 0 16px;
}
/* line 725, ../../app/stylesheets/home/_styles.scss */
.comment-one blockquote blockquote {
  border: none;
  border-top: 1px dotted #bcbcbc;
}

/* line 729, ../../app/stylesheets/home/_styles.scss */
.comment-reply {
  padding-left: 20px;
  background: url(/images/home/images/comment_bg_reply2.gif) 0 0 repeat-y #f6f6f6;
}

/* line 733, ../../app/stylesheets/home/_styles.scss */
.comment-author {
  font-size: 14px;
}

/* line 736, ../../app/stylesheets/home/_styles.scss */
a.link-reply {
  float: right;
  background: url(/images/home/images/ico-reply.gif) right center no-repeat;
  padding-right: 18px;
  text-align: right;
  color: #a6a6a6;
}
/* line 742, ../../app/stylesheets/home/_styles.scss */
a.link-reply:hover {
  color: #666;
}

/* add comment form */
/* line 747, ../../app/stylesheets/home/_styles.scss */
.add-comment .post-title {
  margin-top: 30px;
}

/* line 750, ../../app/stylesheets/home/_styles.scss */
.icon-share {
  padding: 3px 10px 0 0;
}

/* line 754, ../../app/stylesheets/home/_styles.scss */
.addcomment-box .comment-top {
  height: 56px;
}
/* line 756, ../../app/stylesheets/home/_styles.scss */
.addcomment-box .comment-top p {
  display: block;
  width: 50%;
  float: left;
  line-height: 20px;
  padding-top: 10px;
}
/* line 762, ../../app/stylesheets/home/_styles.scss */
.addcomment-box .comment-text {
  padding: 15px 20px 10px 16px;
}

/* line 765, ../../app/stylesheets/home/_styles.scss */
.checkobox {
  margin: 3px 4px 0 0;
  padding: 0;
  float: left;
}

/* line 770, ../../app/stylesheets/home/_styles.scss */
.btn-post {
  background: url(/images/home/images/btn-post-comment.gif) no-repeat;
  width: 130px;
  height: 35px;
  font-size: 14px;
  padding: 0 0 4px 0;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #2f2f2f;
  float: right;
}
/* line 782, ../../app/stylesheets/home/_styles.scss */
.btn-post:hover {
  color: #da8a2c;
}

/* line 785, ../../app/stylesheets/home/_styles.scss */
.notice {
  color: #666;
}

/* line 788, ../../app/stylesheets/home/_styles.scss */
.backtop-box {
  padding-left: 80px;
}

/* line 791, ../../app/stylesheets/home/_styles.scss */
a.backtop {
  display: block;
  background: url(/images/home/images/bg_backtotop.gif) top no-repeat;
  width: 72px;
  height: 23px;
  line-height: 21px;
  font-size: 11px;
  text-align: center;
  color: #585751;
  margin: 0 auto;
}
/* line 801, ../../app/stylesheets/home/_styles.scss */
a.backtop:hover {
  color: #000;
}

/* line 805, ../../app/stylesheets/home/_styles.scss */
.addcomment-box .inputtext {
  background: url(/images/home/images/bg_input_white.gif) no-repeat;
  width: 256px;
  height: 22px;
  padding: 5px 3px 0 3px;
  border: none;
  color: #555;
}
/* line 812, ../../app/stylesheets/home/_styles.scss */
.addcomment-box .textarea {
  overflow: auto;
  background: url(/images/home/images/bg_textarea_white.gif);
  width: 528px;
  height: 143px;
  padding: 5px 3px;
  border: none;
  color: #555;
}

/* bottom content */
/* line 823, ../../app/stylesheets/home/_styles.scss */
.bottom-content {
  clear: both;
  width: 100%;
  color: #636363;
  background: url(/images/home/images/footer_sidebar_bg_black.gif) top repeat-x #161616;
  padding-bottom: 20px;
}
/* line 829, ../../app/stylesheets/home/_styles.scss */
.bottom-content h3 {
  font: 24px Diavlo Light, Arial, Helvetica, sans-serif;
  color: #fff;
}
/* line 832, ../../app/stylesheets/home/_styles.scss */
.bottom-content h3 a {
  text-decoration: none;
  color: #fff;
}
/* line 835, ../../app/stylesheets/home/_styles.scss */
.bottom-content h3 a:hover {
  color: #fff;
}

/* line 838, ../../app/stylesheets/home/_styles.scss */
.bottom-sidebar {
  min-height: 325px;
  padding-top: 32px;
  color: #636363;
}

/* line 843, ../../app/stylesheets/home/_styles.scss */
.bottom-right {
  padding: 0;
}

/* contact form, bottom*/
/* line 848, ../../app/stylesheets/home/_styles.scss */
.contact-form {
  width: 221px;
  padding-left: 5px;
}
/* line 851, ../../app/stylesheets/home/_styles.scss */
.contact-form p {
  margin: 0;
  padding: 5px 0;
}
/* line 854, ../../app/stylesheets/home/_styles.scss */
.contact-form input, .contact-form textarea {
  border: none;
}
/* line 856, ../../app/stylesheets/home/_styles.scss */
.contact-form .inputtext {
  background: url(/images/home/images/bg_input_bot_black.gif) no-repeat;
  width: 211px;
  height: 26px;
  padding: 6px 5px 0 5px;
  color: #444;
  font-size: 13px;
}
/* line 863, ../../app/stylesheets/home/_styles.scss */
.contact-form .textarea {
  background: url(/images/home/images/bg_textarea_bot_black.gif) no-repeat;
  width: 211px;
  height: 128px;
  padding: 5px;
  font-size: 13px;
  color: #444;
  border: none;
  scrollbar-base-color: #1e1e1e;
  scrollbar-arrow-color: #666;
  overflow: auto;
}
/* line 874, ../../app/stylesheets/home/_styles.scss */
.contact-form .btn-submit {
  background: url(/images/home/images/btn-submit-bot-black.gif) no-repeat;
  width: 74px;
  height: 32px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 882, ../../app/stylesheets/home/_styles.scss */
.label {
  padding-bottom: 5px;
}

/* bottom search */
/* line 887, ../../app/stylesheets/home/_styles.scss */
.bottom-sidebar .content p {
  margin: 2px 0;
  color: #686868;
  font-size: 11px;
}

/* line 892, ../../app/stylesheets/home/_styles.scss */
.border {
  background: url(/images/home/images/bottom_line_black.gif) bottom repeat-x;
  height: 66px;
  margin-right: 25px;
}

/* line 897, ../../app/stylesheets/home/_styles.scss */
.search-box {
  width: 480px;
  height: 66px;
  float: left;
}
/* line 901, ../../app/stylesheets/home/_styles.scss */
.search-box h3 {
  display: block;
  float: left;
  width: 135px;
}

/* line 906, ../../app/stylesheets/home/_styles.scss */
.searchform {
  width: 330px;
  float: left;
}

/* line 910, ../../app/stylesheets/home/_styles.scss */
.stext {
  background: url(/images/home/images/bg_search_black.gif) no-repeat;
  width: 280px;
  height: 23px;
  padding: 9px 35px 0 11px;
  font-size: 13px;
  border: 0;
  color: #404040;
}

/* line 919, ../../app/stylesheets/home/_styles.scss */
.feed {
  width: 224px;
  height: 66px;
  float: left;
  background: url(/images/home/images/ico-feed.gif) right top no-repeat;
  text-align: right;
}
/* line 925, ../../app/stylesheets/home/_styles.scss */
.feed h3 {
  line-height: 22px;
}
/* line 927, ../../app/stylesheets/home/_styles.scss */
.feed h3 a {
  padding-right: 50px;
}
/* line 929, ../../app/stylesheets/home/_styles.scss */
.feed p {
  padding-right: 50px;
}

/* bottom sidebars cols */
/* line 934, ../../app/stylesheets/home/_styles.scss */
.col-bot {
  padding: 20px 0 0 0;
  width: 175px;
  float: left;
}

/* line 939, ../../app/stylesheets/home/_styles.scss */
.fcol-1 {
  width: 215px;
}

/* line 942, ../../app/stylesheets/home/_styles.scss */
.fcol-2, .fcol-3 {
  width: 150px;
}

/* line 945, ../../app/stylesheets/home/_styles.scss */
.fcol-4 {
  width: 190px;
}

/* line 948, ../../app/stylesheets/home/_styles.scss */
.fcol-3, .fcol-4 {
  text-align: right;
}

/* line 952, ../../app/stylesheets/home/_styles.scss */
.col-bot h3 {
  padding-bottom: 15px;
  background: url(/images/home/images/bottom_line_black.gif) bottom repeat-x;
}
/* line 955, ../../app/stylesheets/home/_styles.scss */
.col-bot li {
  background: url(/images/home/images/bottom_line_black.gif) bottom repeat-x;
  padding: 10px 0;
}
/* line 958, ../../app/stylesheets/home/_styles.scss */
.col-bot li a:hover {
  color: #999;
}

/* footer */
/* line 963, ../../app/stylesheets/home/_styles.scss */
.footer {
  background: #090909;
}

/* line 966, ../../app/stylesheets/home/_styles.scss */
.copyright {
  height: 60px;
  clear: both;
  color: #333333;
  font-size: 11px;
}
/* line 971, ../../app/stylesheets/home/_styles.scss */
.copyright p {
  margin: 0;
  padding: 25px 0 5px 0;
}
/* line 974, ../../app/stylesheets/home/_styles.scss */
.copyright a {
  color: #444444;
}
/* line 976, ../../app/stylesheets/home/_styles.scss */
.copyright a:hover {
  color: #888;
}

/* line 979, ../../app/stylesheets/home/_styles.scss */
.botmenu ul {
  padding: 25px 0 5px 0;
  font-size: 11px;
}
/* line 982, ../../app/stylesheets/home/_styles.scss */
.botmenu ul li {
  display: inline;
  border-right: 1px solid #333333;
  padding: 0 2px 0 2px;
}
/* line 986, ../../app/stylesheets/home/_styles.scss */
.botmenu ul li.last {
  border: none;
}

/* contact page */
/* line 991, ../../app/stylesheets/home/_styles.scss */
.google-map {
  background: url(/images/home/images/google_map_bg.gif);
  width: 446px;
  height: 255px;
  padding: 4px;
}

/* line 997, ../../app/stylesheets/home/_styles.scss */
.form-gray {
  width: 453px;
}
/* line 999, ../../app/stylesheets/home/_styles.scss */
.form-gray input, .form-gray textarea {
  border: none;
}
/* line 1001, ../../app/stylesheets/home/_styles.scss */
.form-gray .inputtext {
  background: url(/images/home/images/bg_input_gray.gif) no-repeat;
  width: 210px;
  height: 23px;
  padding: 8px 4px 0 6px;
  color: #585858;
}
/* line 1007, ../../app/stylesheets/home/_styles.scss */
.form-gray .textarea {
  background: url(/images/home/images/bg_textarea_gray.gif) no-repeat;
  width: 443px;
  height: 129px;
  padding: 8px 4px 0 6px;
  overflow: auto;
  color: #585858;
}
/* line 1014, ../../app/stylesheets/home/_styles.scss */
.form-gray .btn-submit {
  background: url(/images/home/images/btn-submit-gray.gif) no-repeat;
  width: 74px;
  height: 31px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

/* styleswitcher */
/* line 1024, ../../app/stylesheets/home/_styles.scss */
#styleswitcher {
  background: url(/images/home/images/blank.png);
  width: 100%;
  height: 20px;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 1033, ../../app/stylesheets/home/_styles.scss */
#styleswitcher select {
  color: #666;
  font-size: 13px;
}

/* line 1, ../../app/stylesheets/home/_blue.scss */
.bodywrap {
  height: 100%;
  background: url(/images/home/blue/topbg.gif) top repeat-x;
}

/* line 5, ../../app/stylesheets/home/_blue.scss */
.noheader {
  background: url(/images/home/blue/topbg2.gif) top repeat-x;
}

/* line 8, ../../app/stylesheets/home/_blue.scss */
.homepage {
  background: url(/images/home/blue/topbg_home.gif) top repeat-x;
}

/*.logo {
  background: url(/images/logo_no_bkgnd_white.gif) left center no-repeat; }
*/
/* line 14, ../../app/stylesheets/home/_blue.scss */
.noslider {
  background: url(/images/home/blue/topbg2.gif) top repeat-x;
}

/* line 17, ../../app/stylesheets/home/_blue.scss */
a.btn-start {
  background: url(/images/home/blue/btn-start.gif) no-repeat;
}

/* line 21, ../../app/stylesheets/home/_blue.scss */
ul.dropdown li.active a {
  background: url(/images/home/blue/topmenu_bg_bot.gif) center bottom no-repeat;
}
/* line 23, ../../app/stylesheets/home/_blue.scss */
ul.dropdown .root-item ul a:hover {
  background: url(/images/home/blue/topmenu_sub_bg.gif) repeat-y #eaedf6;
  color: #3761b5;
}

/* line 27, ../../app/stylesheets/home/_blue.scss */
.bottom-content {
  background: url(/images/home/blue/footer_sidebar_bg.gif) top repeat-x #1d2b57;
  color: #a6adc1;
}

/* line 31, ../../app/stylesheets/home/_blue.scss */
.bottom-sidebar {
  color: #a6adc1;
}
/* line 33, ../../app/stylesheets/home/_blue.scss */
.bottom-sidebar .content p {
  color: #a6adc1;
}

/* line 36, ../../app/stylesheets/home/_blue.scss */
.border {
  background: url(/images/home/blue/bottom_line.gif) bottom repeat-x;
}

/* line 39, ../../app/stylesheets/home/_blue.scss */
.stext {
  background: url(/images/home/blue/bg_search.gif) no-repeat;
}

/* line 42, ../../app/stylesheets/home/_blue.scss */
.feed {
  background: url(/images/home/blue/ico-feed.gif) right top no-repeat;
}

/* line 46, ../../app/stylesheets/home/_blue.scss */
.col-bot h3 {
  background: url(/images/home/blue/bottom_line.gif) bottom repeat-x;
}
/* line 48, ../../app/stylesheets/home/_blue.scss */
.col-bot li {
  background: url(/images/home/blue/bottom_line.gif) bottom repeat-x;
}
/* line 50, ../../app/stylesheets/home/_blue.scss */
.col-bot li a {
  color: #a6adc1;
}
/* line 52, ../../app/stylesheets/home/_blue.scss */
.col-bot li a:hover {
  color: #fff;
}

/* line 56, ../../app/stylesheets/home/_blue.scss */
.contact-form .inputtext {
  background: url(/images/home/blue/bg_input_bot.gif) no-repeat;
  color: #717b9c;
}
/* line 59, ../../app/stylesheets/home/_blue.scss */
.contact-form .textarea {
  background: url(/images/home/blue/bg_textarea_bot.gif) no-repeat;
  color: #717b9c;
  scrollbar-base-color: #1e2d5a;
  scrollbar-arrow-color: #717b9c;
  overflow: auto;
}
/* line 65, ../../app/stylesheets/home/_blue.scss */
.contact-form .btn-submit {
  background: url(/images/home/blue/btn-submit-bot.gif) no-repeat;
  color: #fff;
}

/* line 69, ../../app/stylesheets/home/_blue.scss */
.footer {
  background: #050810;
}

/* line 72, ../../app/stylesheets/home/_blue.scss */
.copyright {
  color: #363e58;
}
/* line 74, ../../app/stylesheets/home/_blue.scss */
.copyright a {
  color: #2e3e71;
}
/* line 76, ../../app/stylesheets/home/_blue.scss */
.copyright a:hover {
  color: #3e518a;
}

/* line 79, ../../app/stylesheets/home/_blue.scss */
.layouts .boxbg:hover h2 {
  color: #4259a8;
}

/* line 82, ../../app/stylesheets/home/_blue.scss */
.boxbg {
  background: url(/images/home/blue/bg_home_cols.gif) left bottom no-repeat;
}
/* line 84, ../../app/stylesheets/home/_blue.scss */
.boxbg:hover {
  background: url(/images/home/blue/bg_home_cols.gif) right bottom no-repeat;
}
/* line 86, ../../app/stylesheets/home/_blue.scss */
.boxbg a.link-more {
  color: #4259a8;
}
/* line 88, ../../app/stylesheets/home/_blue.scss */
.boxbg a.link-more:hover {
  color: #334b9e;
}

/* line 91, ../../app/stylesheets/home/_blue.scss */
a.link-more {
  color: #4259a8;
}
/* line 93, ../../app/stylesheets/home/_blue.scss */
a.link-more:hover {
  color: #4259a8;
  border-bottom: 1px solid #4259a8;
}

/* line 97, ../../app/stylesheets/home/_blue.scss */
.post-title h2 a:hover, .navigation a:hover, .post-entry a {
  color: #4259a8;
}

/* line 1, ../../app/stylesheets/home/_slider.scss */
#slider1 {
  width: 960px;
  /* important to be same as image width */
  height: 340px;
  /* important to be same as image height */
  position: relative;
  /* important */
  overflow: hidden;
  /* important */
}

/* line 11, ../../app/stylesheets/home/_slider.scss */
#slider1Content {
  width: 960px;
  /* important to be same as image width or wider */
  height: 340px;
  position: absolute;
  top: 0;
  margin-left: 0;
}

/* line 19, ../../app/stylesheets/home/_slider.scss */
.slider1Image {
  float: left;
  position: relative;
  display: none;
}
/* line 23, ../../app/stylesheets/home/_slider.scss */
.slider1Image span {
  position: absolute;
  font: 12px/17px Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  width: 930px;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: #fff;
  display: none;
}
/* line 35, ../../app/stylesheets/home/_slider.scss */
.slider1Image span strong {
  font-size: 17px;
}

/* line 38, ../../app/stylesheets/home/_slider.scss */
.left {
  top: 0;
  left: 0;
  width: 180px !important;
  height: 310px;
}

/* line 44, ../../app/stylesheets/home/_slider.scss */
.right {
  right: 0;
  bottom: 0;
  width: 180px !important;
  height: 310px;
}

/* line 50, ../../app/stylesheets/home/_slider.scss */
.top {
  top: 0;
  left: 0;
}

/* line 54, ../../app/stylesheets/home/_slider.scss */
.bottom {
  bottom: 0;
  left: 0;
}

/* line 1, ../../app/stylesheets/home/_columns.scss */
.layout1, .layout2, .layout3, .layout4, .layout5, .layout6, .layout7, .layout8, .layout9 {
  float: left;
  margin: 10px 0 40px 0;
}

/* line 5, ../../app/stylesheets/home/_columns.scss */
.col-1 {
  width: 960px;
}

/* line 8, ../../app/stylesheets/home/_columns.scss */
.col-2 {
  width: 710px;
}

/* line 11, ../../app/stylesheets/home/_columns.scss */
.col-3 {
  width: 460px;
}

/* line 14, ../../app/stylesheets/home/_columns.scss */
.col-4 {
  width: 290px;
}

/* line 17, ../../app/stylesheets/home/_columns.scss */
.col-5 {
  width: 210px;
}

/* line 20, ../../app/stylesheets/home/_columns.scss */
.gutter {
  width: 40px;
  background: none;
}

/* line 24, ../../app/stylesheets/home/_columns.scss */
.gutter2 {
  width: 45px;
  background: none;
}

/* line 28, ../../app/stylesheets/home/_columns.scss */
.layouts {
  line-height: 1.7em;
  padding: 0 0 30px 0;
  clear: both;
  position: relative;
}
/* line 33, ../../app/stylesheets/home/_columns.scss */
.layouts h2 {
  font-size: 36px;
  background: url(/images/home/images/title_line_long.gif) bottom no-repeat;
  line-height: 36px;
  margin-bottom: 20px;
}
/* line 38, ../../app/stylesheets/home/_columns.scss */
.layouts h3 {
  font-size: 21px;
  color: #666;
  margin-bottom: 15px;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
/* line 15, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
}

/* line 23, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}
/* line 31, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#jquery-lightbox a img {
  border: none;
}

/* line 34, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

/* line 41, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image {
  padding: 10px;
}

/* line 44, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 53, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 61, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image-box > #lightbox-nav {
  left: 0;
}

/* line 64, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-nav a {
  outline: none;
}

/* line 67, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block;
}

/* line 73, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-nav-btnPrev {
  left: 0;
  float: left;
}

/* line 77, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-nav-btnNext {
  right: 0;
  float: right;
}

/* line 81, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0;
}

/* line 90, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image-data {
  padding: 0 10px;
  color: #666;
}
/* line 93, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-container-image-data #lightbox-image-details {
  width: 70%;
  float: left;
  text-align: left;
}

/* line 98, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-image-details-caption {
  font-weight: bold;
}

/* line 101, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}

/* line 106, ../../app/stylesheets/home/_jquery.lightbox-0.5.scss */
#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em;
}

/* For Real Gravity Logo and Tag Line*/
/* line 2, ../../app/stylesheets/home/_rg_styles.scss */
.logo {
  width: 400px;
  height: 70px;
  padding: 20px 0 0 0px;
  float: left;
  background: url(/images/logo_no_bkgnd.gif) left center no-repeat;
  background-size: 250 px;
  color: #242424;
}

/* line 11, ../../app/stylesheets/home/_rg_styles.scss */
.logo-text {
  padding: 40px 0 10px 190px;
}

/* line 15, ../../app/stylesheets/home/_rg_styles.scss */
.top-menu {
  font: 20px Diavlo Light,Arial,Helvetica,Sans-serif;
}

/* line 19, ../../app/stylesheets/home/_rg_styles.scss */
ul.dropdown {
  position: relative;
  z-index: 7;
  float: right;
  padding-top: 43px;
}

/* Reconfigure the menues to fit under the Blue*/
/* line 29, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu {
  width: 960px;
  height: 20px;
  float: right;
  font: 14px Diavlo Light,Arial,Helvetica,Sans-serif;
}
/* line 34, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown {
  position: relative;
  z-index: 7;
  float: right;
  padding-top: 0px;
}
/* line 39, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown li {
  display: block;
  float: left;
  line-height: 1.3em;
  vertical-align: middle;
}
/* line 44, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown li.hover, .small-menu ul.dropdown li:hover {
  position: relative;
  z-index: 9;
  cursor: default;
}
/* line 50, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 8px;
  z-index: 8;
  width: 143px;
  font: 12px Arial,Helvetica,Sans-serif;
  font-weight: bold;
  background: url(/images/home/images/topmenu_sub_2.gif) left bottom no-repeat;
}
/* line 60, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown ul li {
  float: none;
}
/* line 63, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown ul ul {
  top: 1px;
  left: 99%;
}
/* line 68, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown li:hover > ul {
  visibility: visible;
}
/* line 72, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item a {
  height: 25px;
  padding: 10px 10px 9px 10px;
}
/* line 77, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown li.active a {
  color: #000;
  background: url(/images/home/blue/topmenu_bg_bot.gif) center bottom no-repeat;
}
/* line 82, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item a:hover {
  color: #000;
}
/* line 86, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul li {
  border-bottom: 1px solid #e5e5e5;
}
/* line 89, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul a {
  display: block;
  float: none;
  padding: 5px 5px 5px 15px;
  height: auto;
  background: none;
  color: #666;
}
/* line 99, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown li.active ul a {
  display: block;
  float: none;
  padding: 5px 5px 5px 15px;
  height: auto;
  background: none;
  color: #666;
}
/* line 108, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul a:hover {
  background: url(/images/home/images/topmenu_sub_bg.gif) repeat-y #f1f1f1;
  color: #000;
}
/* line 112, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul .last {
  border-bottom: none;
}
/* line 114, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul .last a {
  padding: 5px 5px 10px 15px;
}
/* line 116, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul .last a:hover {
  background: url(/images/home/images/topmenu_sub_last_a.gif) left bottom no-repeat;
}
/* line 121, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul .first a {
  background: url(/images/home/images/topmenu_sub_1.gif) left top no-repeat;
  padding: 20px 5px 5px 15px;
}
/* line 124, ../../app/stylesheets/home/_rg_styles.scss */
.small-menu ul.dropdown .root-item ul .first a:hover {
  background: url(/images/home/images/topmenu_sub_1.gif) left top no-repeat;
}
