:css
  /*Credits: CSSpplay */
  /*URL: http://www.cssplay.co.uk/menus/pro_one */
  
  .preload16 {background: url(pro16/pro16_2.gif);}
  .preload16a {background: url(pro16/pro16_2a.gif);}

  .pro16 {padding:0 0 0 1em; margin:0; list-style:none; height:43px; position:relative; background:transparent url(pro16_back.gif) repeat-x left top; font-size:11px;}
  .pro16 li {float:left; height:43px;}
  .pro16 li a {display:block; float:left; height:40px; line-height:35px; color:#888; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 10px; cursor:pointer; background:url(pro16_0a.gif) no-repeat;}
  .pro16 li a b {float:left; display:block; padding:0 60px 0 0; background:url(pro16_0.gif) no-repeat right top;}
  .pro16 li.current a {color:#000; background:url(pro16_2a.gif) no-repeat;}
  .pro16 li.current a b {color:#000; background:url(pro16_2.gif) no-repeat right top;}
  .pro16 li a:hover {color:#000; background: url(pro16_2a.gif) no-repeat;}
  .pro16 li a:hover b {color:#000; background:url(pro16_2.gif) no-repeat right top;}
  .pro16 li.current a:hover {color:#000; cursor:default;}