//- javascript "pagination"  Working on Ajax pagination
%h1 Cypher: Morpheus Schedule
#products
  = render :partial => 'rgtasks'

%br/
= link_to 'New Cypher Task', new_rg_task_path
= link_to 'Help Reading Cron'
